# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env

# Django stuff
db.sqlite3
*.sqlite3
media/
staticfiles/

# Logs
*.log
runserver.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc
*.egg-info/
dist/
build/

